@use '../abstracts/mixins' as mxn;
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as clr;
@use '../abstracts/functions' as fn;

.action {
    @include mxn.flex-layout(row, space-between);
    gap: fn.to-rem(8px);
    height: fn.to-rem(44px);
    @include mxn.respond-to(mobile) {
        width: fn.to-rem(168.88px);
        padding: fn.to-rem(6px) fn.to-rem(6px) fn.to-rem(0px) fn.to-rem(8px);
    }
    @include mxn.respond-to(tablet) {
        width: fn.to-rem(131px);
        padding-right: fn.to-rem(0px);
    }
    @include mxn.respond-to(desktop) {
        width: fn.to-rem(372px);
        &__link {
            @include mxn.flex-layout(row, $align: center);
            gap: fn.to-rem(8px);
        }
    }

    &__name {
        @include mxn.respond-to(mobile) {
            display: none;
        }
        @include mxn.respond-to(desktop) {
            display: inline;
            padding-bottom: fn.to-rem(4px);
            text-transform: capitalize;
            font-size: fn.to-rem(20px);
            font-weight: map-get(var.$font-weight, regular);
        }
    }

    &__item {
        min-width: 0;
    }

    &__item:first-child {
        @include mxn.respond-to(tablet) {
            display: none;
        }
    }
}
