@use '../abstracts/mixins' as mxn;
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as clr;
@use '../abstracts/functions' as fn;

.carousel {
    @include mxn.respond-to(tablet) {
        width: fn.to-rem(756px);
        position: relative;
    }
    @include mxn.respond-to(desktop) {
        width: fn.to-rem(700px);
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.swiper {
    @include mxn.respond-to(tablet) {
        width: 100%;
        height: fn.to-rem(416px);
        position: relative !important;
    }
}

.swiper-wrapper {
    @include mxn.respond-to(tablet) {
        align-items: center;
    }
    @include mxn.respond-to(desktop) {
        height: fn.to-rem(320px) !important;
    }
}

.swiper-pagination {
    position: relative !important;
    bottom: fn.to-rem(0px) !important;
    @include mxn.respond-to(mobile) {
        margin-top: fn.to-rem(4px);
        margin-bottom: fn.to-rem(8px);
    }
    @include mxn.respond-to(tablet) {
        margin-top: fn.to-rem(24px);
        margin-bottom: fn.to-rem(0px);
    }
    @include mxn.respond-to(desktop) {
        margin-top: fn.to-rem(32px);
    }
}

.swiper-slide {
    @include mxn.respond-to(mobile) {
        height: fn.to-rem(248px) !important;
    }
    @include mxn.respond-to(tablet) {
        height: fn.to-rem(266px) !important;
    }
    @include mxn.respond-to(desktop) {
        height: fn.to-rem(252px) !important;
    }
}

.swiper-pagination-bullet {
    &:focus-visible {
        outline: 2px solid map-get(clr.$colors, indigo-primary) !important;
        outline-offset: 3px !important;
        border-radius: 50% !important;
    }
    @include mxn.respond-to(tablet) {
        width: fn.to-rem(12px) !important;
        height: fn.to-rem(12px) !important;
        margin-right: fn.to-rem(8px) !important;
    }
}

.swiper-pagination-bullet-active {
    background-color: map-get(clr.$colors, indigo-primary) !important;
    &:focus-visible {
        outline: 2px solid map-get(clr.$colors, indigo-primary) !important;
        outline-offset: 3px !important;
        border-radius: 50% !important;
    }
}

.swiper-button-prev,
.swiper-button-next {
    @include mxn.respond-to(mobile) {
        display: none !important;
    }
    @include mxn.respond-to(tablet) {
        display: flex !important;
        position: absolute;
        top: 60% !important;
        height: fn.to-rem(58px) !important;
        width: fn.to-rem(58px) !important;

        &:hover {
            opacity: 0.9;
        }
        .swiper-button-img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    @include mxn.respond-to(desktop) {
        top: 52% !important;
    }
}

.swiper-button-prev {
    @include mxn.respond-to(tablet) {
        left: fn.to-rem(-28px) !important;
    }
}
.swiper-button-next {
    @include mxn.respond-to(tablet) {
        right: fn.to-rem(-28px) !important;
    }
}
