@use '../abstracts/mixins' as mxn;
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as clr;
@use '../abstracts/functions' as fn;

.swiper-pagination {
    position: relative !important;
    bottom: fn.to-rem(0px) !important;
    margin-top: fn.to-rem(3px);
    margin-bottom: fn.to-rem(8px);
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

.swiper-slide {
    height: fn.to-rem(249px) !important;
    &-img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.swiper-pagination-bullet-active {
    background-color: map-get(clr.$colors, indigo-primary) !important;
}

@include mxn.respond-to(tablet) {
    .swiper-pagination-bullet {
        width: fn.to-rem(12px) !important;
        height: fn.to-rem(12px) !important;
        margin-right: fn.to-rem(8px) !important;
    }
    .swiper-pagination {
        margin-top: fn.to-rem(24px);
        margin-bottom: fn.to-rem(0px);
    }
    .carousel-wrapper {
        width: fn.to-rem(756px);
        position: relative !important;
    }
    .swiper {
        width: 100%;
        height: fn.to-rem(416px);
        position: relative !important;
    }

    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        height: fn.to-rem(266px) !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: flex !important;
        position: absolute;
        top: 60% !important;
        height: fn.to-rem(58px) !important;
        width: fn.to-rem(58px) !important;

        &:hover {
            opacity: 0.9;
        }
        .swiper-button-img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .swiper-button-prev {
        left: fn.to-rem(-29px) !important;
    }
    .swiper-button-next {
        right: fn.to-rem(-29px) !important;
    }

    @include mxn.respond-to(desktop) {
        .carousel-wrapper {
            width: fn.to-rem(700px);
        }
        .swiper-wrapper {
            height: fn.to-rem(320px) !important;
        }
        .swiper-slide {
            height: fn.to-rem(253px) !important;
        }
        .swiper-button-prev,
        .swiper-button-next {
            top: 52% !important;
        }
        .swiper-pagination {
            margin-top: fn.to-rem(32px);
        }
    }
}
