$white: #ffffff;
$accent: #eb9b00;
$indigo-primary: #002f52;
$indigo-secondary: #326589;
$gradient-indigo: linear-gradient(
    97.54deg,
    $indigo-primary 35.49%,
    $indigo-secondary 165.37%
);
$solitude: #ebecee;
