$colors: (
    white: #ffffff,
    light-white: #f9f9f9,
    accent: #eb9b00,
    indigo-primary: #002f52,
    indigo-secondary: #326589,
    gradient-indigo: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%),
    solitude: #ebecee,
    gray: #858585,
    dark-gray: #474646,
    green: rgb(93, 206, 97),
);
