@use 'sass:map';
@use './variables' as var;

@mixin respond-to($breakpoint-passed) {
    @if map.has-key(var.$breakpoints, $breakpoint-passed) {
        @media (min-width: map.get(var.$breakpoints,$breakpoint-passed)) {
            @content;
        }
    } @else {
        @error " breakpoint- #{$breakpoint-passed}, doesn't exist";
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
