@use './functions' as fn;

$font-weight: (
    bold: 700,
    medium: 500,
    regular: 400,
    light: 300,
);

$font-size: (
    'sm': fn.to-rem(14px),
    'md': fn.to-rem(16px),
    'lg': fn.to-rem(18px),
    'xl': fn.to-rem(20px),
    '2xl': fn.to-rem(24px),
    '3xl': fn.to-rem(26px),
    '4xl': fn.to-rem(32px),
    '5xl': fn.to-rem(36px),
);

$breakpoints: (
    mobile: fn.to-rem(428px),
    tablet: fn.to-rem(1024px),
    desktop: fn.to-rem(1728px),
);
