@use '../abstracts/mixins' as mxn;
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as clr;

.best-sellers {
    margin-top: 25px;

    &__heading {
        text-align: center;
        margin-bottom: 8px;
    }

    &__content {
        background-color: clr.$solitude;
        padding-bottom: 15px;
        min-height: 620px;
    }

    &__card {
        margin-top: 25px;
    }

    &__card-left {
        margin-top: 8px;
    }
    &__card-left-icon {
        margin-top: 36px;
    }

    @include mxn.respond-to(tablet) {
        margin-top: 56px;

        &__card {
            margin-top: 32px;
        }

        &__card-left {
            margin-top: 0px;
            p {
                font-size: 14px;
            }
            h3 {
                margin-bottom: 7px;
            }
            h4 {
                margin-top: 0px;
            }
        }

        &__card-right {
            img {
                width: 161px;
                height: 166px;
            }
            button {
                width: 161px;
                height: 48px;
            }
        }

        &__heading {
            margin-bottom: 16px;
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 762px;
        }
    }

    @include mxn.respond-to(desktop) {
        margin-top: 63px;

        &__content {
            min-height: 506px;
            align-items: stretch;
        }

        &__card {
            left: 38px;
            margin-top: 82px;
            padding-left: 18px;
        }

        &__card-left {
            margin-top: 5px;
            h3 {
                width: 327;
                height: 48px;
            }
            h4 {
                margin-bottom: 14px;
            }
        }

        &__heading {
            text-align: center;
        }
        &__content {
            display: flex;
            flex-direction: row;
            height: 506px;
            justify-content: center;
            gap: 48px;
        }
    }
}
