@use '../abstracts/mixins' as mxn;
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as clr;

.footer {
    background-color: clr.$light-white;
    min-height: 65px;
    padding-left: 24px;
    padding-top: 16px;

    &__content {
        display: none;
    }

    @include mxn.respond-to(tablet) {
        padding: 56px 60px 70px 24px;
        display: flex;
        justify-content: space-between;
        min-height: 513px;
        font-size: map-get(var.$font-size, 'size-1');
        font-weight: map-get(var.$font-weight, regular);

        &__content {
            max-width: 689px;
            display: flex;
            gap: 61px;
        }

        &__education-heading,
        &__online-education-heading,
        &__community-heading {
            color: clr.$gray;
        }

        &__education,
        &__online-education,
        &__community {
            min-width: 189px;
            color: clr.$dark-gray;
            display: flex;
            flex-direction: column;
            gap: 25px;

            &-content {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            &-item-link {
                display: flex;
                gap: 8px;
                align-items: center;
            }
        }
    }

    @include mxn.respond-to(desktop) {
        padding: 50px 236px 56px 212px;

        &__content {
            max-width: 1340px;
            gap: 200px;
        }

        &__education,
        &__online-education,
        &__community {
            min-width: 209px;
            border-left: 1px solid clr.$gray;
            padding-left: 20px;
        }
    }
}
