@use '../abstracts/mixins' as mxn;
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as clr;
@use '../abstracts/functions' as fn;

.header {
    @include mxn.flex-layout(row, space-between);
    height: fn.to-rem(80px);
    position: relative;

    @include mxn.respond-to(mobile) {
        padding: fn.to-rem(20px) fn.to-rem(24px) fn.to-rem(23px) fn.to-rem(26px);
    }
    @include mxn.respond-to(tablet) {
        padding: fn.to-rem(18px) fn.to-rem(80px);
    }
    @include mxn.respond-to(desktop) {
        padding-top: fn.to-rem(20px);
    }

    &__brand {
        @include mxn.flex-layout(row, space-between);
        @include mxn.respond-to(mobile) {
            width: fn.to-rem(112px);
            height: fn.to-rem(48px);
        }
        @include mxn.respond-to(tablet) {
            width: fn.to-rem(264px);
        }
        @include mxn.respond-to(desktop) {
            height: fn.to-rem(40px);
        }
    }

    &__nav {
        @include mxn.respond-to(mobile) {
            display: none;
        }
        @include mxn.respond-to(tablet) {
            min-width: fn.to-rem(437px);
            display: block;
            height: fn.to-rem(44px);
        }
        @include mxn.respond-to(desktop) {
            width: fn.to-rem(932px);
        }
    }

    &__nav--open {
        @include mxn.respond-to(mobile) {
            display: block;
            position: absolute;
            top: 100%;
            left: 0%;
            width: fn.to-rem(300px);
            background-color: map-get(clr.$colors, white);
        }
    }

    &__menu {
        @include mxn.respond-to(tablet) {
            width: 100%;
            height: 100%;
            @include mxn.flex-layout(row, space-between);
        }
        @include mxn.respond-to(desktop) {
            justify-content: flex-start;
        }
    }

    .menu__btn {
        width: fn.to-rem(250px);
        height: fn.to-rem(56px);
        margin-left: fn.to-rem(24px);
        text-align: left;
        text-transform: uppercase;
        font-weight: map-get(var.$font-weight, regular);
        padding-left: 10px;

        &:hover,
        &--active {
            background: map-get(clr.$colors, gradient-indigo);
            color: map-get(clr.$colors, white);
        }
        @include mxn.respond-to(tablet) {
            text-transform: uppercase;
            height: 100%;
            padding-left: fn.to-rem(10px);
            padding-right: fn.to-rem(32px);
            line-height: 100%;
            position: relative;
            width: auto;
            margin-left: 0;
            text-align: initial;
            font-weight: normal;
            color: initial;

            &:hover,
            &--active {
                background: map-get(clr.$colors, gradient-indigo);
                color: map-get(clr.$colors, white);
            }
        }
        @include mxn.respond-to(desktop) {
            padding-right: fn.to-rem(34px);
        }
    }

    .menu-btn:first-child {
        @include mxn.respond-to(tablet) {
            &--active {
                background: map-get(clr.$colors, gradient-indigo);
                color: map-get(clr.$colors, white);
            }
        }
    }

    &__hamburger {
        @include mxn.respond-to(tablet) {
            display: none;
        }
    }

    &__logo {
        @include mxn.respond-to(tablet) {
            @include mxn.flex-layout(row, center, center);
            gap: fn.to-rem(11px);
        }
        @include mxn.respond-to(desktop) {
            margin-right: fn.to-rem(58px);
        }
    }

    .name {
        color: blue($color: #000000);
        &__primary,
        &__secondary {
            @include mxn.respond-to(mobile) {
                display: none;
            }
        }
        @include mxn.respond-to(tablet) {
            display: flex;
            font-size: fn.to-rem(30px);
            font-family: 'JosefinSans';
            padding-top: fn.to-rem(10px);
            &__primary {
                display: inline;
                font-weight: map-get(var.$font-weight, bold);
            }
            &__secondary {
                display: inline;
                font-weight: map-get(var.$font-weight, regular);
            }
        }
    }
}
