@use '../abstracts/mixins' as mxn;
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as clr;
@use '../abstracts/functions' as fn;

.header {
    @include mxn.flex-layout(row, space-between);
    height: fn.to-rem(80px);
    padding: fn.to-rem(20px) fn.to-rem(24px) fn.to-rem(23px) fn.to-rem(26px);
    position: relative;

    &__action {
        @include mxn.flex-layout(row, space-between);
        gap: fn.to-rem(8px);
        width: fn.to-rem(168.88px);
        height: fn.to-rem(44px);
        padding: fn.to-rem(6px) fn.to-rem(6px) fn.to-rem(0px) fn.to-rem(8px);

        span {
            display: none;
        }
    }

    &__left {
        @include mxn.flex-layout(row, space-between);
        width: fn.to-rem(112px);
        height: fn.to-rem(48px);
    }

    &__action-item {
        min-width: 0;
    }

    &__logo-name--alura,
    &__logo-name--books {
        display: none;
    }

    &__nav {
        display: none;
    }

    &__nav--open {
        display: block;
        position: absolute;
        top: 100%;
        left: 0%;
        width: fn.to-rem(300px);
        background-color: map-get(clr.$colors, white);
        button {
            width: fn.to-rem(250px);
            height: fn.to-rem(56px);
            margin-left: fn.to-rem(24px);
            text-align: left;
            text-transform: capitalize;
            font-weight: map-get(var.$font-weight, bold);
            color: map-get(clr.$colors, accent);
        }
    }

    &__categories-submenu {
        display: none;
    }

    &__categories-submenu--open {
        display: block;
        li {
            width: fn.to-rem(300px);
            height: fn.to-rem(56px);
            margin-left: fn.to-rem(24px);
        }
        a {
            width: 100%;
            display: block;
            line-height: fn.to-rem(56px);
            text-transform: uppercase;
            -webkit-background-clip: text;
            background-clip: text;
            background: -webkit-linear-gradient(
                map-get(clr.$colors, indigo-primary),
                map-get(clr.$colors, indigo-secondary)
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }
    }

    @include mxn.respond-to(tablet) {
        padding: fn.to-rem(18px) fn.to-rem(80px);

        &__nav {
            min-width: fn.to-rem(437px);
            display: block;
            height: fn.to-rem(44px);
        }

        &__menu {
            width: 100%;
            height: 100%;
            @include mxn.flex-layout(row, space-between);

            button {
                text-transform: uppercase;
                height: 100%;
                padding-left: fn.to-rem(10px);
                padding-right: fn.to-rem(32px);
                line-height: 100%;
                position: relative;

                &:hover,
                &--active {
                    background: map-get(clr.$colors, gradient-indigo);
                    color: map-get(clr.$colors, white);
                }
            }
        }

        &__categories-button {
            &--active {
                background: map-get(clr.$colors, gradient-indigo);
                color: map-get(clr.$colors, white);
            }
        }

        &__left {
            width: fn.to-rem(264px);
        }
        &__hamburger {
            display: none;
        }

        &__action-item:first-child {
            display: none;
        }

        &__logo {
            @include mxn.flex-layout(row, center, center);
            gap: fn.to-rem(11px);
        }

        &__logo-name {
            display: flex;
            font-size: fn.to-rem(30px);
            font-family: 'JosefinSans';
            padding-top: fn.to-rem(10px);
            &--alura {
                display: inline;
                font-weight: map-get(var.$font-weight, bold);
            }
            &--books {
                display: inline;
                font-weight: map-get(var.$font-weight, regular);
            }
        }
        &__action {
            width: fn.to-rem(131px);
            padding-right: fn.to-rem(0px);
        }

        &__categories-submenu--open {
            display: block;
            position: absolute;
            background-color: map-get(clr.$colors, white);

            width: fn.to-rem(181px);
            li {
                width: 100%;
                margin-left: fn.to-rem(0px);
            }
            a {
                padding-left: fn.to-rem(24px);
                height: fn.to-rem(64px);
                @include mxn.flex-layout(row, $align: center);
                width: 100%;

                &:hover {
                    background: map-get(clr.$colors, gradient-indigo);
                    -webkit-text-fill-color: map-get(clr.$colors, white);
                }
            }
        }
    }

    @include mxn.respond-to(desktop) {
        padding-top: fn.to-rem(20px);

        &__menu {
            button {
                padding-right: fn.to-rem(34px);
            }
        }
        &__left {
            height: fn.to-rem(40px);
        }

        &__logo {
            margin-right: fn.to-rem(58px);
        }
        &__nav {
            width: fn.to-rem(932px);
        }

        &__menu {
            justify-content: flex-start;
        }

        &__action {
            width: fn.to-rem(372px);
            &-item a {
                @include mxn.flex-layout(row, $align: center);
                gap: fn.to-rem(8px);
            }

            span {
                display: inline;
                padding-bottom: fn.to-rem(4px);
                text-transform: capitalize;
                font-size: fn.to-rem(20px);
                font-weight: map-get(var.$font-weight, regular);
            }
        }
    }
}
