@use '../abstracts/mixins' as mxn;
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as clr;
@use '../abstracts/functions' as fn;

.hero {
    background: map-get(clr.$colors, gradient-indigo);
    @include mxn.flex-layout(column, $align: center);
    @include mxn.respond-to(mobile) {
        margin-top: fn.to-rem(1px);
        padding-bottom: fn.to-rem(24px);
    }
    @include mxn.respond-to(tablet) {
        margin-top: fn.to-rem(0px);
        padding-bottom: fn.to-rem(72px);
    }

    &__heading {
        color: map-get(clr.$colors, white);
        @include mxn.respond-to(mobile) {
            margin-top: fn.to-rem(32px);
            margin-bottom: fn.to-rem(8px);
        }
        @include mxn.respond-to(tablet) {
            margin-top: fn.to-rem(84px);
            margin-bottom: fn.to-rem(2px);
        }
    }

    &__description {
        color: map-get(clr.$colors, white);
        text-align: center;
        @include mxn.respond-to(mobile) {
            margin-bottom: fn.to-rem(24px);
            width: fn.to-rem(316px);
        }
        @include mxn.respond-to(tablet) {
            width: fn.to-rem(480px);
            margin-bottom: fn.to-rem(26px);
        }
    }
}
