@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mxn;
@use '../abstracts/colors' as clr;

.signup-email {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 151px;
    min-width: 381px;
    margin: 24px 23px 30px 24px;
    gap: 24px;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__text-heading,
    &__button-text {
        background: -webkit-linear-gradient(
            clr.$indigo-primary,
            clr.$indigo-secondary
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }

    &__button {
        border: 1px solid clr.$indigo-primary;
        width: 380px;
        min-height: 44px;
        border-radius: 24px;
        padding-left: 24px;
        gap: 10px;
        display: flex;
        align-items: center;
    }

    @include mxn.respond-to(tablet) {
        flex-direction: row;
        justify-content: center;
        margin: 30px auto 53px auto;
        gap: 25px;
        max-width: 725px;

        min-height: 132px;

        &__text {
            max-width: 372px;
            &-description {
                width: 353px;
            }
        }

        &__button {
            width: 326.91px;
        }
    }

    @include mxn.respond-to(desktop) {
        margin: 64px auto 28px auto;
        max-width: 774px;
        min-height: 124px;

        &__text {
            max-width: 401px;
            &-description {
                width: 377px;
            }
        }
        &__button {
            width: 349px;
            margin-bottom: 40px;
        }
    }
}
