@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mxn;
@use '../abstracts/colors' as clr;

.heading {
    &--xl {
        font-size: map-get(var.$font-size, 'lg');
        font-weight: map-get(var.$font-weight, bold);

        @include mxn.respond-to(tablet) {
            font-size: map-get(var.$font-size, '5xl');
            font-weight: map-get(var.$font-weight, bold);
        }
    }
}

.subtitle {
    text-transform: uppercase;

    &--lg {
        font-size: map-get(var.$font-size, 'lg');
        font-weight: map-get(var.$font-weight, bold);
        color: map-get(clr.$colors, accent);

        @include mxn.respond-to(tablet) {
            font-size: map-get(var.$font-size, '3xl');
        }

        @include mxn.respond-to(desktop) {
            font-size: map-get(var.$font-size, '4xl');
        }
    }

    &--md {
        font-size: map-get(var.$font-size, 'md');
        font-weight: map-get(var.$font-weight, light);

        @include mxn.respond-to(tablet) {
            font-size: map-get(var.$font-size, '2xl');
        }

        @include mxn.respond-to(desktop) {
            font-size: map-get(var.$font-size, '4xl');
        }
    }
}
