@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mxn;
@use '../abstracts/colors' as clr;

.heading {
    &--xl {
        @include mxn.respond-to(mobile) {
            font-size: map-get(var.$font-size, 'lg');
            font-weight: map-get(var.$font-weight, bold);
        }

        @include mxn.respond-to(tablet) {
            font-size: map-get(var.$font-size, '5xl');
            font-weight: map-get(var.$font-weight, bold);
        }
    }

    &--lg {
        @include mxn.respond-to(mobile) {
            font-size: map-get(var.$font-size, 'md');
            font-weight: map-get(var.$font-weight, bold);
        }

        @include mxn.respond-to(desktop) {
            font-size: map-get(var.$font-size, '4xl');
            font-weight: map-get(var.$font-weight, bold);
        }
    }

    &--sm {
        @include mxn.respond-to(mobile) {
            font-size: map-get(var.$font-size, 'lg');
            font-weight: map-get(var.$font-weight, bold);
        }
    }

    &--xsm {
        font-size: map-get(var.$font-size, 'lg');
        font-weight: map-get(var.$font-weight, medium);

        @include mxn.respond-to(tablet) {
            font-size: map-get(var.$font-size, '2xl');
        }
    }
}

.subtitle {
    text-transform: uppercase;

    &--lg {
        @include mxn.respond-to(mobile) {
            font-size: map-get(var.$font-size, 'lg');
            font-weight: map-get(var.$font-weight, bold);
            color: map-get(clr.$colors, accent);
        }

        @include mxn.respond-to(tablet) {
            font-size: map-get(var.$font-size, '3xl');
        }

        @include mxn.respond-to(desktop) {
            font-size: map-get(var.$font-size, '4xl');
        }
    }

    &--md {
        @include mxn.respond-to(mobile) {
            font-size: map-get(var.$font-size, 'md');
            font-weight: map-get(var.$font-weight, light);
        }

        @include mxn.respond-to(tablet) {
            font-size: map-get(var.$font-size, '2xl');
        }

        @include mxn.respond-to(desktop) {
            font-size: map-get(var.$font-size, '4xl');
        }
    }
}

.text {
    &--lg {
        @include mxn.respond-to(mobile) {
            font-size: map-get(var.$font-size, 'md');
            font-weight: map-get(var.$font-weight, medium);
        }
    }

    &--md {
        @include mxn.respond-to(mobile) {
            font-size: map-get(var.$font-size, 'sm');
            font-weight: map-get(var.$font-weight, regular);
        }
        @include mxn.respond-to(tablet) {
            font-size: map-get(var.$font-size, 'md');
        }
    }

    &--sm {
        @include mxn.respond-to(mobile) {
            font-size: map-get(var.$font-size, 'md');
            font-weight: map-get(var.$font-weight, light);
        }
    }

    &--xsm {
        font-size: map-get(var.$font-size, 'sm');
        font-weight: map-get(var.$font-weight, bold);
        @include mxn.respond-to(tablet) {
            font-size: map-get(var.$font-size, '2xl');
        }
    }
}
